{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/admin/vendor/magisuggest/magicsuggest.min.css">
{% endblock %}

{% block name %}
    {% if name is defined %}
        {{ name }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}

    <div id="edit_services"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/admin/vendor/magisuggest/magicsuggest.min.js"></script>
    <script src="/admin/js/ckeditor.js"></script>
    <script src="/admin/js/ru.js"></script>
    <script>
        $('.enable-ckeditor').each(function () {
            let textarea = $(this);
            ClassicEditor.create( textarea[0], { language: 'ru' } );
        });
    </script>
    <script>
        $('#doctor_form_image').parent().after('<div id="service_editor" style="padding-top: 15px" class="form-group"><label for="edit_services">Услуги врача</label></div>');
        $('#edit_services').appendTo('#service_editor');
        let already_set = JSON.parse('{{ form.vars.value.services|escape('js') }}');
        let all_services = JSON.parse('{{ services|escape('js') }}');
        let recommend = $('#edit_services').magicSuggest({
            allowFreeEntries: false,
            useCommaKey: false,
            data: all_services,
            expandOnFocus: true,
            displayField: 'title',
            placeholder: 'Начните вводить текст'
        });
        recommend.addToSelection(already_set);
        $('#doctor_form_services').val(JSON.stringify(recommend.getValue()));
        $(recommend).on('blur', function () {
            $('#doctor_form_services').val(JSON.stringify(this.getValue()));
        });
    </script>
{% endblock %}
