{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/services.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/services_responsive.css') }}">
{% endblock %}
{% block body %}
    <div class="page_top_wrapper">
        {% include 'elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top-content">
            <div class="page_top">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">Головна</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Послуги</li>
                    </ol>
                </nav>
                <div class="page_top-title">
                    Послуги
                </div>
            </div>
            <div class="services">
                {% for service in services %}
                    <div class="service">
                        <img src="/uploads/{{ service.icon }}">
                        <div class="service_title">
                            {{ service.title }}
                        </div>
                        <a class="service_view-more" href="{{ path('service_single', {'slug': service.slug}) }}">
                            Детальніше
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        {% include '/elements/footer.html.twig' %}
    </footer>
{% endblock %}
