{% extends 'base.html.twig' %}
{% block title %}{{ service.seoTitle?service.seoTitle:get_setting('seo_title_service') }}{% endblock %}
{% block description %}{{ service.seoDescription?service.seoDescription:get_setting('seo_description_service') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/single-service.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/single-service_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

{% endblock %}
{% block body %}
    <div class="page_top_wrapper">
        {% include '/elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top-content">
            <div class="page_top">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">Головна</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('service_main') }}">Послуги</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ service.title }}</li>
                    </ol>
                </nav>

            </div>
        </div>
        <div class="service_wrapper">
            <div class="left_part">
                <div class="service">
                    <div class="service_info">
                        <img src="/uploads/{{ service.image }}">
                        <div class="service_title">{{ service.title }}</div>
                        <div class="service_text">
                            {{ service.description|raw }}
                        </div>
                    </div>
                </div>
{#                <div class="service_extra">#}
{#                    {{ service.additionalInfo }}#}
{#                </div>#}
            </div>
            <div class="right_part">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Назва послуги</th>
                        <th scope="col">вартість</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for mini_service in service.MiniService %}
                            <tr>
                                <td>{{ mini_service.title }}</td>
                                <td>{{ mini_service.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <div class="sign_up_wrapper">
                <a class="sign_up">Записаться</a>
            </div>
    </div>

    <div class="extra_services_wrapper">
                <div class="extra_services_title">Iншi послуги</div>
                <div class="controls extra_services_controls">

                </div>
                <div class="extra_services_slider">
                    {% for add_service in additional_services %}
                        <div class="extra_services_item">
                            <img class="extra_services_img" src="/uploads/{{ add_service.image }}" alt="Third slide">
                            <div class="extra_services_item-title">
                                {{ add_service.title }}
                            </div>
                            <div class="extra_services_item-text">
                                {{ add_service.description|striptags|raw|slice(0, 100) }}{{ add_service.description|striptags|raw|length>100?'...' }}
                            </div>
                            <a class="extra_services_item-more" href="{{ path('service_single', {'slug': add_service.slug}) }}">
                                Дізнатися більше
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

    <footer>
        {% include '/elements/footer.html.twig' %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let service = '{{ service.title|escape('js') }}';
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/single_service.js') }}"></script>
{% endblock %}
