<nav class="main_header">
    <div class="logo">
        <img src="{{ asset('img/logo.png') }}">
        <span>{{get_setting('name')}}</span>
    </div>
    <div class="main_menu">
        <a class="menu-item" href="{{ path('index') }}">
            ГОЛОВНА
        </a>
        <div class="menu-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ПОСЛУГИ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for service in all_services() %}
                    <a class="dropdown-item" href="{{ path('service_single', {'slug': service.slug}) }}">{{service.title}}</a>
                {% endfor %}
            </div>
        </div>
        <a class="menu-item" href="{{ path('promotions') }}">
            АКЦИИ
        </a>
        <a class="menu-item" href="{{ path('doctor_main') }}">
            ЛІКАРІ
        </a>
        <a class="menu-item" href="{{ path('reviews') }}">
            ПАЦІЕНТАМ
        </a>
        <a class="menu-item">
            КОНТАКТИ
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="menu-item" href="{{ path('admin_index') }}">
                АДМИН ПАНЕЛЬ
            </a>
        {% endif %}
        <div class="menu-item header_contacts">
            {{get_setting('address')}} <br>{{get_setting('phone')}}
        </div>
        <a class="menu-item header_callback" href="/#contact_wrapper">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </a>
    </div>
    <span class="mobile_nav-toogle" id="main-header-toggle"></span>
</nav>
