<nav id="mobile_nav">
    <ul class="mobile_list">
        <li class="menu-item">
            <a href="{{ path('index') }}">ГОЛОВНА</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('promotions') }}">АКЦІЇ</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('service_main') }}">ПОСЛУГИ</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('doctor_main') }}">ЛІКАРІ</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('reviews') }}">ПАЦІЄНТАМ</a>
        </li>
        <li class="menu-item">
            <a href="{{ path('contacts') }}">
                КОНТАКТИ
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="menu-item">
                <a href="{{ path('admin_index') }}">
                    АДМІН ПАНЕЛЬ
                </a>
            </li>
        {% endif %}
        <li class="menu-item">
            <a href="http://maps.google.com/maps?q={{get_setting('address')}}" target="_blank">{{get_setting('address')}}</a> <br>
            <a href="tel:{{get_setting('phone')}}">{{get_setting('phone')}}</a>
        </li>
        <li class="menu-item header_callback">
            <a href="{{ path('index')  ~ '#contact_wrapper' }}">
                ЗАПИСАТИСЯ НА ПРИЙОМ
            </a>
        </li>
    </ul>
</nav>
