<nav class="side-navbar">
    <br>
    <ul class="list-unstyled">
        <li><a href="{{ path('main_page_slider_index') }}"> <i class="icon-grid"></i>Слайдер на главной</a></li>
        <li><a href="{{ path('service_index') }}"> <i class="fa fa-bar-chart"></i>Услуги</a></li>
        <li><a href="{{ path('mini_service_index') }}"> <i class="fa fa-bar-chart"></i>Составные услуги</a></li>
        <li><a href="{{ path('doctor_index') }}"> <i class="fa fa-bar-chart"></i>Врачи</a></li>
        <li><a href="{{ path('sertificate_index') }}"> <i class="fa fa-bar-chart"></i>Сертификаты</a></li>
    </ul>
</nav>