{% extends 'base.html.twig' %}
{% block title %}{{ get_setting('seo_title_doctors') }}{% endblock %}
{% block description %}{{ get_setting('seo_description_doctors') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/doctors.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/doctors_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

{% endblock %}
{% block body %}
    <div class="page_top_wrapper">
        {% include '/elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top-content">
            <div class="page_top">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">Головна</a></li>
                        <li class="breadcrumb-item active" aria-current="page">qq</li>
                    </ol>
                </nav>
            </div>
            <div class="doctors_wrapper">
                <div class="doctors_title">Наші лікарі</div>
                <div class="controls doctors_controls">
                </div>
                <div class="doctors_slider">
                    {% for doctor in doctors %}
                        <div class="doctor_item">
                            <a href="{{ path('doctor_single', {'slug': doctor.slug}) }}">
                                <img class="doctor_img" src="/uploads/{{ doctor.image }}" alt="Third slide">
                                <div class="doctor_item-title">
                                    {{ doctor.name }}
                                </div>
                                <div class="doctor_item-text">
                                    {{ doctor.speciality }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="certificates_wrapper">
            <div class="controls certificates_controls">
            </div>
            <div class="certificates_slider">
                {% for sertificate in sertificates %}
                    <img src="/uploads/{{ sertificate.image }}">
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="contact_wrapper">
        <div class="contact_img">
            <div class="contact_form-title mobile">
                ЗАПИСАТИСЯ НА ПРИЙОМ
            </div>
            <img src="{{ asset('img/main.png') }}">
        </div>
        <div class="contact_form">
            <div class="contact_form-title desktop">
                ЗАПИСАТИСЯ НА ПРИЙОМ
            </div>
            <form name="form_order">
                <div class="form">
                    <div class="top_form">
                        <input type="text" name="name" placeholder="Ваше имя">
                        <input type="tel" name="telephone" id="tel" placeholder="Ваш номер телефону">
                    </div>
                    <div class="middle_form">
                        <input type="date" name="date" id="date" placeholder="Виберіть бажаему дату">
                        <input type="time" name="time" id="time" placeholder="Виберіть бажаемий час">
                    </div>
                    <div class="bottom_form">
                        <input type="text" name="comment" id="comment" placeholder="Залешить ваш коментар">
                    </div>
                    <div class="promocode">
                        <label>
                            <input type="checkbox" id="promo">
                            У меня есть промокод
                        </label>
                        <div class="promocode_body">
                            <div class="promocode_input">
                                <input type="text" placeholder="Введiть промокод" id="promocode_input">
                                <div class="promocode_use">Застосувати</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-contact_form">Записатися</button>
            </form>
        </div>
    </div>
    <footer>
        {% include '/elements/footer.html.twig' %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/doctors.js') }}"></script>
{% endblock %}
