<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="icon" href="/login/images/icon.jpeg">
        <title>{% block title %}Стомасвит{% endblock %}</title>
        <meta name="description" content="{% block description %}Стомасвит{% endblock %}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap-material-design/css/bootstrap-material-design.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/pretty-checkbox/pretty-checkbox.min.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
            <link rel="stylesheet" href="{{ asset('vendor/timepicker/jquery.timepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/datepicker/css/datepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/media-queries/app_responsive.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="page_up">
        <img src="{{ asset('img/up.png') }}">
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('img/service.png') }}">
                    <div class="modal_text"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>
    <div id="preloader" {% if get_preloader_show() == false %}style="display: none"{% endif %}>
        <img src="{{ asset('img/43399a32927265.5698df500f0a0.gif') }}">
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap-material-design/js/bootstrap-material-design.min.js') }}"></script>
            <script src="{{ asset('vendor/timepicker/jquery.timepicker.js') }}"></script>
            <script src="{{ asset('vendor/datepicker/js/datepicker.min.js') }}"></script>
            <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{#            {{ encore_entry_script_tags('app') }}#}

        {% endblock %}
    </body>
</html>
