{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/admin/vendor/magisuggest/magicsuggest.min.css">
{% endblock %}

{% block name %}
    {% if name is defined %}
        {{ name }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}

    <div id="edit_services"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/admin/vendor/magisuggest/magicsuggest.min.js"></script>
    <script>
        $('#service_form_additionalInfo').parent().after('<div id="service_editor" style="padding-top: 15px" class="form-group"><label for="edit_services">Услуги врача</label></div>');
        $('#edit_services').appendTo('#service_editor');
        let all_services = JSON.parse('{{ form.vars.value.miniServices|raw }}');
        $('#service_form_miniServices').val('');
        let recommend = $('#edit_services').magicSuggest({
            allowFreeEntries: false,
            useCommaKey: false,
            data: all_services,
            expandOnFocus: true,
            displayField: 'title',
            placeholder: 'Начните вводить текст'
        });
        $(recommend).on('blur', function () {
            $('#service_form_miniServices').val(JSON.stringify(this.getValue()));
        });
    </script>
{% endblock %}
