{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/admin/vendor/magisuggest/magicsuggest.min.css">
{% endblock %}

{% block name %}
    {% if name is defined %}
        {{ name }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    {% endif %}

    <div id="edit_services"></div>
    <div class="row" id="new_service" style="display: none; padding-top: 20px">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Название</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="new_service_title">
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Цена</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="new_service_price">
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <button id="submit_new_service" type="button" class="btn btn-success btn-sm">Сохранить</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/admin/vendor/magisuggest/magicsuggest.min.js"></script>
    <script>
        $('#service_form_additionalInfo').parent().after('<div id="service_editor" style="padding-top: 15px" class="form-group"><label for="edit_services">Составные услуги</label><button id="add_new_service" style="margin-left: 10px" type="button" class="btn btn-info btn-sm">Добавить новую</button></div>').after($('#new_service'));
        $('#edit_services').appendTo('#service_editor').after($('#new_service'));
        let all_services = JSON.parse('{{ form.vars.value.miniServices|raw }}');
        $('#service_form_miniServices').val('');
        let recommend = $('#edit_services').magicSuggest({
            allowFreeEntries: false,
            useCommaKey: false,
            data: all_services,
            expandOnFocus: true,
            displayField: 'title',
            placeholder: 'Начните вводить текст'
        });
        $(recommend).on('blur', function () {
            $('#service_form_miniServices').val(JSON.stringify(this.getValue()));
        });

        $(document).on('click', '#add_new_service', function () {
            $('#new_service').show();
            $('#new_service_title').focus();
        });

        $(document).on('click', '#submit_new_service', function () {
            if($('#new_service_title').val() === '')
                alert('Название не может быть пустым');
            else{
                $.ajax({
                    method: "GET",
                    url: '/adminPanel/api/mini_service/create',
                    data: {
                        'title': $('#new_service_title').val(),
                        'price': $('#new_service_price').val()
                    }
                })
                    .done(function (data) {
                        $('#new_service_title').val('').focus();
                        $('#new_service_price').val('');
                        all_services.push(data);
                        recommend.setData(all_services);
                        recommend.addToSelection(data);
                        $('#service_form_miniServices').val(JSON.stringify(recommend.getValue()));
                    });
            }
        })
    </script>
{% endblock %}
