{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{#    {{ encore_entry_link_tags('index_page') }}#}
    <link rel="stylesheet" href="{{ asset('css/index-page.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/index-page_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block body %}
    <div class="page_top_wrapper">
        {% include '/elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top">
            <div class="page_top-text">
                <div class="page_top-text_header">
                    <span>{{ get_setting('name')|upper }}</span> - {{ get_setting('title') }}
                </div>
                <div class="page_top-text_text">
                    {{ get_setting('description') }}
                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    {% for slide in slides %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index-1 }}" class="{% if loop.first %}active{% endif %} carousel-indicator"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img class="d-block w-100" src="/uploads/{{ slide.image }}" alt="First slide">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="why-best_wrapper">
        <div class="best_title">У чому ми найкращі?</div>
        <div class="controls best_controls">

        </div>
        <div class="best_slider">
            {% for service in services %}
            <div class="best_item">
                <img class="best_img" src="/uploads/{{ service.image }}" alt="Third slide">
                <div class="best_item-title">
                    {{ service.title }}
                </div>
                <div class="best_item-text">
                    {{ service.description }}
                </div>
                <a class="best_item-more" href="{{ path('service', {'slug': service.slug}) }}">
                    Дізнатися більше
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="doctors_wrapper">
    <div class="doctors_title">Наші лікарі</div>
    <div class="controls doctors_controls">
    </div>
    <div class="doctors_slider">
        {% for doctor in doctors %}
            <div class="doctor_item">
                <a href="{{ path('doctor', {'slug': doctor.slug}) }}">
                    <img class="doctor_img" src="/uploads/{{ doctor.image }}" alt="Third slide">
                    <div class="doctor_item-title">
                        {{ doctor.name }}
                    </div>
                    <div class="doctor_item-text">
                        {{ doctor.speciality }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="reviews_wrapper">
    <div class="reviews_title">Відгуки про нашу клініку</div>
    <div class="controls reviews_controls">
    </div>
    <div class="reviews_slider">
        {% for review in reviews %}
            <div class="review_item">
                <img class="review_img" src="/uploads/{{ review.image }}" alt="Third slide">
                <div class="review">
                    <div class="review_item-title">
                        {{ review.name }}
                    </div>
                    <div class="review_item-text">
                        {{ review.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="map_wrapper">
    <div class="map_title">
        ЯК нас знайти?
    </div>
    <div class="map">
        <div class="map_card">
            <img src="{{ asset('img/house.png') }}">
            <ul class="address">
               <li>
                   {{get_setting('address')}}
               </li>
                <li>
                    {{get_setting('metro')}}
                </li>
            </ul>
        </div>
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{get_setting('address')}}&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>
<div class="contact_wrapper">
    <div class="contact_img">
        <img src="{{ asset('img/main.png') }}">
    </div>
    <div class="contact_form">
        <div class="contact_form-title">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </div>
        <form>
            <div class="form">
                <div class="top_form">
                    <input type="text" id="name" placeholder="Ваше имя">
                    <input type="tel" id="tel" placeholder="Ваш номер телефону">
                </div>
                <div class="middle_form">
                    <input type="date" id="date" placeholder="Виберіть бажаему дату">
                    <input type="time" id="time" placeholder="Виберіть бажаемий час">
                </div>
                <div class="bottom_form">
                    <input type="text" id="comment" placeholder="Залешить ваш коментар">
                </div>
            </div>
            <button type="submit" class="btn btn-contact_form">Записатися</button>
        </form>
    </div>
</div>
<div class="reasons_wrapper">
    <div class="reasons_title">
        Чому треба звернутися до нас?
    </div>
    <div class="reason">
        <div class="reasons_img">
            <img src="{{ asset('img/main.png') }}">
        </div>
        <div class="reason_text">
            {{ get_setting('name')|upper }} - {{ get_setting('why_we')    }}
        </div>
    </div>
</div>
<footer>
    {% include '/elements/footer.html.twig' %}
</footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('index_page') }}#}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/index_page.js') }}"></script>
{% endblock %}
