{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{#    {{ encore_entry_link_tags('index_page') }}#}
    <link rel="stylesheet" href="{{ asset('css/index-page.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/index-page_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}
{% block body %}
    <div class="page_up">
        <img src="{{ asset('img/up.png') }}">
    </div>
    <div class="page_top_wrapper">
        {% include '/elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top">
            <div class="page_top-text">
                <div class="page_top-text_header">
                    <span>{{ get_setting('Название стоматологии')|upper }}</span> - {{ get_setting('Заглавие') }}
                </div>
                <div class="page_top-text_text">
                    {{ get_setting('Описание') }}
                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for slide in slides %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index-1 }}" class="{% if loop.first %}active{% endif %} carousel-indicator"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img class="d-block w-100" src="/uploads/{{ slide.image }}" alt="First slide">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="why-best_wrapper">
        <div class="best_title">У чому ми найкращі?</div>
        <div class="controls best_controls">

        </div>
        <div class="best_slider">
            {% for service in services %}
            <div class="best_item">
                <img class="best_img" src="/uploads/{{ service.image }}" alt="Third slide">
                <div class="best_item-title">
                    {{ service.title }}
                </div>
                <div class="best_item-text">
                    {{ service.description }}
                </div>
                <a class="best_item-more" href="{{ path('service', {'slug': service.slug}) }}">
                    Дізнатися більше
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="doctors_wrapper">
    <div class="doctors_title">Наші лікарі</div>
    <div class="controls doctors_controls">
    </div>
    <div class="doctors_slider">
        {% for doctor in doctors %}
            <div class="doctor_item">
                <a href="{{ path('doctor', {'slug': doctor.slug}) }}">
                    <img class="doctor_img" src="/uploads/{{ doctor.image }}" alt="Third slide">
                    <div class="doctor_item-title">
                        {{ doctor.name }}
                    </div>
                    <div class="doctor_item-text">
                        {{ doctor.speciality }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="reviews_wrapper">
    <div class="reviews_title">Відгуки про нашу клініку</div>
    <div class="controls reviews_controls">
    </div>
    <div class="reviews_slider">
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map_wrapper">
    <div class="map_title">
        ЯК нас знайти?
    </div>
    <div class="map">
        <div class="map_card">
            <img src="{{ asset('img/house.png') }}">
            <ul class="address">
               <li>
                   {{get_setting('Адрес')}}
               </li>
                <li>
                    {{get_setting('Метро')}}
                </li>
            </ul>
        </div>
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{get_setting('Адрес')}}&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>
<div class="contact_wrapper">
    <div class="contact_img">
        <img src="{{ asset('img/main.png') }}">
    </div>
    <div class="contact_form">
        <div class="contact_form-title">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </div>
        <form>
            <div class="form">
                <div class="top_form">
                    <input type="text" id="name" placeholder="Ваше имя">
                    <input type="tel" id="tel" placeholder="Ваш номер телефону">
                </div>
                <div class="middle_form">
                    <input type="date" id="date" placeholder="Виберіть бажаему дату">
                    <input type="time" id="time" placeholder="Виберіть бажаемий час">
                </div>
                <div class="bottom_form">
                    <input type="text" id="comment" placeholder="Залешить ваш коментар">
                </div>
            </div>
            <button type="submit" class="btn btn-contact_form">Записатися</button>
        </form>
    </div>
</div>
<div class="reasons_wrapper">
    <div class="reasons_title">
        Чому треба звернутися до нас?
    </div>
    <div class="reason">
        <div class="reasons_img">
            <img src="{{ asset('img/main.png') }}">
        </div>
        <div class="reason_text">
            {{ get_setting('Название стоматологии')|upper }} - {{ get_setting('Почему к нам')    }}
        </div>
    </div>
</div>
<footer>
    {% include '/elements/footer.html.twig' %}
</footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('index_page') }}#}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.best_slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: "<button class='prev'></button>",
            nextArrow: "<button class='next'></button>",
            appendArrows: $('.best_controls'),
            // autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 1.8,
                        infinite: false,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1.5,
                        infinite: false,
                    }
                }
            ]
        });
        $('.doctors_slider').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: "<button class='prev'></button>",
            nextArrow: "<button class='next'></button>",
            appendArrows: $('.doctors_controls'),
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2.4,
                        infinite: false,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1.5,
                        infinite: false,
                    }
                }
            ]
        });
        $('.reviews_slider').slick({
            infinite: false,
            slidesToShow: 1.5,
            slidesToScroll: 1,
            prevArrow: "<button class='prev'></button>",
            nextArrow: "<button class='next'></button>",
            appendArrows: $('.reviews_controls'),
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 1,
                    }
                },
            ]
        });
        $('.page_up').on('click', function () {
            $('.page_top_wrapper')[0].scrollIntoView({block: "center", behavior: "smooth"});
        });
        $('#main-header-toggle').on('click', function () {
            $('.mobile_nav-toogle').toggleClass('active');
            $('#mobile_nav').slideToggle(500);
            $('.main_header').toggleClass('active');

        });
    </script>
{% endblock %}
