{% extends 'base.html.twig' %}
    {% block title %}{{ get_setting('seo_title_main') }}{% endblock %}
    {% block description %}{{ get_setting('seo_description_main') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index-page.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/index-page_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/slick-slider/slick.css') }}"/>
{% endblock %}
{% block body %}
    <div class="page_top_wrapper">
        {% include '/elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top">
            <div class="page_top-text">
                <div class="page_top-text_header">
                    <span>{{ get_setting('name')|upper }}</span> - {{ get_setting('title') }}
                </div>
                <div class="page_top-text_text">
                    {{ get_setting('description') }}
                </div>
            </div>
            <div class="top_carousel">
                {% for slide in slides %}
                <div class="top_carousel_item">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('main_page_slider_update', {'id': slide.id}) }}" class="btn btn-primary active btn-lg" style="position: absolute" target="_blank">
                            Отредактировать
                        </a>
                    {% endif %}
                    {% if slide.link is not empty %}
                        <a target="_blank" href="{{ slide.link }}">
                    {% endif %}
                        <img class="top_carousel_img" src="/uploads/{{ slide.image }}" alt="First slide">
                    {% if slide.link is not empty %}
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="why-best_wrapper">
        <div class="best_title">У чому ми найкращі?</div>
        <div class="controls best_controls">

        </div>
        <div class="best_slider">
            {% for service in services %}
            <div class="best_item">
                <img class="best_img" src="/uploads/{{ service.image }}" alt="Third slide">
                <div class="best_item-title">
                    {{ service.title }}
                </div>
                <div class="best_item-text">
                    {{ service.shortDescription|slice(0, 100) }}{{  service.shortDescription|length>100?'...' }}
                </div>
                <a class="best_item-more" href="{{ path('service_single', {'slug': service.slug}) }}">
                    Дізнатися більше
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="doctors_wrapper">
    <div class="doctors_title">Наші лікарі</div>
    <div class="controls doctors_controls">
    </div>
    <div class="doctors_slider">
        {% for doctor in doctors %}
            <div class="doctor_item">
                <a href="{{ path('doctor_single', {'slug': doctor.slug}) }}">
                    <img class="doctor_img" src="/uploads/{{ doctor.image }}" alt="Third slide">
                    <div class="doctor_item-title">
                        {{ doctor.name }}
                    </div>
                    <div class="doctor_item-text">
                        {{ doctor.speciality }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="reviews_wrapper">
    <div class="reviews_title">Відгуки про нашу клініку</div>
    <div class="controls reviews_controls">
    </div>
    <div class="reviews_slider">
        {% for review in reviews %}
            <div class="review_item">
                <img class="review_img" src="/uploads/{{ review.image }}" alt="Third slide">
                <div class="review">
                    <div class="review_item-title">
                        {{ review.name }}
                    </div>
                    <div class="review_item-text">
                        {{ review.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="map_wrapper">
    <div class="map_title">
        Як нас знайти?
    </div>
    <div class="map">
        <div class="map_card">
            <img src="{{ asset('img/house.png') }}">
            <ul class="address">
               <li>
                   {{get_setting('address')}}
               </li>
                <li>
                    {{get_setting('metro')}}
                </li>
            </ul>
        </div>
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{get_setting('address')}}&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>
<div class="contact_wrapper" id="contact_wrapper">
    <div class="contact_img">
        <img src="{{ asset('img/main.png') }}">
    </div>
    <div class="contact_form">
        <div class="contact_form-title">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </div>
        <form name="form_order">
            <div class="form">
                <div class="top_form">
                    <input type="text" name="name" placeholder="Ваше ім'я">
                    <input type="tel" name="telephone" id="tel" placeholder="Ваш номер телефону">
                </div>
                <div class="middle_form">
                    <input type='text' name="date" id="date" class="datepicker-here" placeholder="Виберіть  дату">
                    <input type="text" name="time" id="time" placeholder="Виберіть  час">
                </div>
                <div class="bottom_form">
                    <input type="text" name="comment" id="comment" placeholder="Залиште ваш коментар">
                </div>
                <div class="promocode">
                    <div class="pretty p-svg p-curve">
                        <input type="checkbox" id="promo">
                        <div class="state p-primary">
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                            </svg>
                            <input type='date' id="date" readonly placeholder="Виберіть  дату">
                            <label> В мене є промокод</label>
                        </div>
                    </div>
                    <div class="promocode_body">
                        <div class="promocode_input">
                            <input type="text" placeholder="Введiть промокод" id="promocode_input">
                            <div class="promocode_use">Застосувати</div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-contact_form">Записатися</button>
        </form>
    </div>
</div>
<div class="reasons_wrapper">
    <div class="reasons_title">
        Чому треба звернутися до нас?
    </div>
    <div class="reason">
        <div class="reasons_img">
            <img src="{{ asset('img/main.png') }}">
        </div>
        <div class="reason_text">
            {{ get_setting('name')|upper }} - {{ get_setting('why_we')    }}
        </div>
    </div>
</div>
<footer>
    {% include '/elements/footer.html.twig' %}
</footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/vendor/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.mask.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/slick-slider/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/index_page.js') }}"></script>
    <script>
        $('#time').timepicker({
            'minTime': '9:00',
            'maxTime': '19:30',
            'timeFormat': 'H:i'
        });
    </script>
{% endblock %}
