{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index_page') }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}
{% block body %}
    <div class="page_up">
        <img src="{{ asset('img/up.png') }}">
    </div>
    <div class="page_top_wrapper">
        {% include './elements/header.html.twig' %}
        <div class="page_top">
            <div class="page_top-text">
                <div class="page_top-text_header">
                    <span>СТОМАСВІТ</span>- ЦЕ ОПЕРАТИВНА І ЯКІСНА СТОМАТОЛОГІЯ
                </div>
                <div class="page_top-text_text">
                    Сучасне обладнання, дизайн, сервіс відповідає останнім вимогам стоматології, включає широкий спектр можливостей для лікаря при максимальному комфорті для пацієнта. Висококваліфіковані і досвідчені фахівці допоможуть Вам підібрати оптимальну схему лікування, врахують всі Ваші побажання, а також в наших клініках Ви можете отримати рекомендації по догляду за порожниною рота. Персонал, який пройшов спеціальне навчання, простежить за тим, що б Ви відчували себе комфортно і затишно в кімнаті очікування і кріслі лікаря-стоматолога.
                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ asset('img/main.png') }}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('img/main.png') }}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('img/main.png') }}" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why-best_wrapper">
        <div class="best_title">У чому ми найкращі?</div>
        <div class="controls best_controls">

        </div>
        <div class="best_slider">
            <div class="best_item">
                <img class="best_img" src="{{ asset('img/main.png') }}" alt="Third slide">
                <div class="best_item-title">
                    Діагностична рентгенографія1
                </div>
                <div class="best_item-text">
                    Діагностика - один з найважливіших етапів всього стоматологічного лікування, має на увазі цілий комплекс досліджень.
                </div>
                <a class="best_item-more">
                    Дізнатися більше
                </a>
            </div>
            <div class="best_item">
                <img class="best_img" src="{{ asset('img/main.png') }}" alt="Third slide">
                <div class="best_item-title">
                    Діагностична рентгенографія2
                </div>
                <div class="best_item-text">
                    Діагностика - один з найважливіших етапів всього стоматологічного лікування, має на увазі цілий комплекс досліджень.
                </div>
                <a class="best_item-more">
                    Дізнатися більше
                </a>
            </div>
            <div class="best_item">
                <img class="best_img" src="{{ asset('img/main.png') }}" alt="Third slide">
                <div class="best_item-title">
                    Діагностична рентгенографія3
                </div>
                <div class="best_item-text">
                    Діагностика - один з найважливіших етапів всього стоматологічного лікування, має на увазі цілий комплекс досліджень.
                </div>
                <a class="best_item-more">
                    Дізнатися більше
                </a>
            </div>
            <div class="best_item">
                <img class="best_img" src="{{ asset('img/main.png') }}" alt="Third slide">
                <div class="best_item-title">
                    Діагностична рентгенографія4
                </div>
                <div class="best_item-text">
                    Діагностика - один з найважливіших етапів всього стоматологічного лікування, має на увазі цілий комплекс досліджень.
                </div>
                <a class="best_item-more">
                    Дізнатися більше
                </a>
            </div>
            <div class="best_item">
                <img class="best_img" src="{{ asset('img/main.png') }}" alt="Third slide">
                <div class="best_item-title">
                    Діагностична рентгенографія5
                </div>
                <div class="best_item-text">
                    Діагностика - один з найважливіших етапів всього стоматологічного лікування, має на увазі цілий комплекс досліджень.
                </div>
                <a class="best_item-more">
                    Дізнатися більше
                </a>
            </div>
            <div class="best_item">
                <img class="best_img" src="{{ asset('img/main.png') }}" alt="Third slide">
                <div class="best_item-title">
                    Діагностична рентгенографія6
                </div>
                <div class="best_item-text">
                    Діагностика - один з найважливіших етапів всього стоматологічного лікування, має на увазі цілий комплекс досліджень.
                </div>
                <a class="best_item-more">
                    Дізнатися більше
                </a>
            </div>
        </div>
    </div>
<div class="doctors_wrapper">
    <div class="doctors_title">Наші лікарі</div>
    <div class="controls doctors_controls">
    </div>
    <div class="doctors_slider">
        <div class="doctor_item">
            <img class="doctor_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="doctor_item-title">
                ШЕЛЬЦОВА Т. Ю.
            </div>
            <div class="doctor_item-text">
                Доктор-стоматолог
            </div>
        </div>
        <div class="doctor_item">
            <img class="doctor_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="doctor_item-title">
                ШЕЛЬЦОВА Т. Ю.
            </div>
            <div class="doctor_item-text">
                Доктор-стоматолог
            </div>
        </div>
        <div class="doctor_item">
            <img class="doctor_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="doctor_item-title">
                ШЕЛЬЦОВА Т. Ю.
            </div>
            <div class="doctor_item-text">
                Доктор-стоматолог
            </div>
        </div>
        <div class="doctor_item">
            <img class="doctor_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="doctor_item-title">
                ШЕЛЬЦОВА Т. Ю.
            </div>
            <div class="doctor_item-text">
                Доктор-стоматолог
            </div>
        </div>
        <div class="doctor_item">
            <img class="doctor_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="doctor_item-title">
                ШЕЛЬЦОВА Т. Ю.
            </div>
            <div class="doctor_item-text">
                Доктор-стоматолог
            </div>
        </div>
        <div class="doctor_item">
            <img class="doctor_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="doctor_item-title">
                ШЕЛЬЦОВА Т. Ю.
            </div>
            <div class="doctor_item-text">
                Доктор-стоматолог
            </div>
        </div>
    </div>
</div>
<div class="reviews_wrapper">
    <div class="reviews_title">Відгуки про нашу клініку</div>
    <div class="controls reviews_controls">
    </div>
    <div class="reviews_slider">
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
        <div class="review_item">
            <img class="review_img" src="{{ asset('img/doctor.png') }}" alt="Third slide">
            <div class="review">
                <div class="review_item-title">
                    Тимур Муцураев
                </div>
                <div class="review_item-text">
                    З дитинства мене супроводжує карієс. тому на жаль, тут я постійний клієнт. зате роблять швидко, акуратно і без наслідків. спасибі клініці за хороших лікарів!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map_wrapper">
    <div class="map_title">
        ЯК нас знайти?
    </div>
    <div class="map">
        <div class="map_card">
            <img src="{{ asset('img/house.png') }}">
            <ul class="address">
               <li>
                   Київ, в.Данила Щербаківського
               </li>
                <li>
                    м.Берестейсая
                </li>
            </ul>
        </div>
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%D1%89%D0%B5%D1%80%D0%B1%D0%B0%D0%BA%D0%BE%D0%B2%D0%B0%2052&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>
<div class="contact_wrapper">
    <div class="contact_img">
        <img src="{{ asset('img/main.png') }}">
    </div>
    <div class="contact_form">
        <div class="contact_form-title">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </div>
        <form>
            <div>
                <div class="top_form">
                    <input type="text" id="name" placeholder="Ваше имя">
                    <input type="tel" id="tel" placeholder="Ваш номер телефону">
                </div>
                <div class="middle_form">
                    <input type="date" id="date" placeholder="Виберіть бажаему дату">
                    <input type="time" id="time" placeholder="Виберіть бажаемий час">
                </div>
                <div class="bottom_form">
                    <input type="text" id="comment" placeholder="Залешить ваш коментар">
                </div>
            </div>
            <button type="submit" class="btn btn-contact_form">Записатися</button>
        </form>
    </div>
</div>
<div class="reasons_wrapper">
    <div class="reasons_title">
        Чому треба звернутися до нас?
    </div>
    <div class="reason">
        <div class="reasons_img">
            <img src="{{ asset('img/main.png') }}">
        </div>
        <div class="reason_text">
            СТОМАСВІТ -це оперативна і якісна стоматологія. Сучасне обладнання, дизайн, сервіс відповідає останнім вимогам стоматології, включає широкий спектр можливостей для лікаря при максимальному комфорті для пацієнта.
        </div>
    </div>
</div>
<footer>
    {% include './elements/footer.html.twig' %}
</footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index_page') }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.best_slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: "<button class='prev'></button>",
            nextArrow: "<button class='next'></button>",
            appendArrows: $('.best_controls'),
            autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
        $('.doctors_slider').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: "<button class='prev'></button>",
            nextArrow: "<button class='next'></button>",
            appendArrows: $('.doctors_controls'),
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
        $('.reviews_slider').slick({
            infinite: false,
            slidesToShow: 1.5,
            slidesToScroll: 1,
            prevArrow: "<button class='prev'></button>",
            nextArrow: "<button class='next'></button>",
            appendArrows: $('.reviews_controls'),
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
        $('.page_up').on('click', function () {
            $('.page_top_wrapper')[0].scrollIntoView({block: "center", behavior: "smooth"});
        })
    </script>
{% endblock %}
