{% extends 'base.html.twig' %}
{% block title %}{{ get_setting('seo_title_reviews') }}{% endblock %}
{% block description %}{{ get_setting('seo_description_reviews') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/reviews.css') }}">
    <link rel="stylesheet" href="{{ asset('css/media-queries/reviews_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}
{% block body %}
    <div class="page_top_wrapper">
        {% include '/elements/header.html.twig' %}
        {% include 'elements/mobile_header.html.twig'%}
        <div class="page_top-content">
            <div class="page_top">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">Головна</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Пацiентам</li>
                    </ol>
                </nav>
            </div>
            <div class="page_title">Вiдгуки про нашу клiнiку</div>
           <div class="active-review">
               <div class="review_photo">
                    <img src="/uploads/{{ reviews|first.image }}" id="review_photo">
               </div>
               <div class="review">
                   <div class="review_title" id="review_title">
                       {{ reviews|first.name }}
                   </div>
                   <div class="review_text" id="review_text">
                       {{ reviews|first.description }}
                   </div>
               </div>
           </div>
        </div>
    </div>
    <div class="reviews_wrapper">
        <div class="reviews_controls controls"></div>
        <div class="reviews_slider">
            {% for review in reviews %}
                <div class="review">
                    <div class="review_title">{{ review.name }}</div>
                    <div class="review_text">{{ review.description|slice(0, 100) }}{% if review.description|length>100 %}...{% endif %}</div>
                    <div class="review_view-more" data-id="{{ review.id }}">Читати детальніше</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="news_wrapper">
        <div class="news_main_title">Новини</div>
        <div class="news_slider">
            {% for article in articles %}
                <div class="news">
                        <img src="/uploads/{{ article.image }}">
                        <div class="news_title">{{ article.title }}</div>
                        <div class="news_text">
                            {{ article.shortDescription|slice(0, 100) }}{{ article.shortDescription|length>100?'...' }}
                        </div>
                        <div class="news_view">Дивитись</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="promotions_wrapper">
        {% for promotion in promotions %}
            <div class="promotion" style="background-image: url({{ '/uploads/' ~ promotion.image }});">
                <div class="promotion_text">
                    {{ promotion.title }}
                </div>
                <div class="promotion_info">
                    {{ promotion.shortDescription }}
                </div>
                <a class="promotion_button" href="{{ path('promotions') ~ '#promotion-' ~ promotion.id }}">
                    Подробнее
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="contact_wrapper">
        <div class="contact_form">
            <div class="contact_form-title">
                ЗАПИСАТИСЯ НА ПРИЙОМ
            </div>
            <form name="form_order">
                <div class="form">
                    <div class="top_form">
                        <input type="text" name="name" placeholder="Ваше имя">
                        <input type="tel" name="telephone" id="tel" placeholder="Ваш номер телефону">
                    </div>
                    <div class="middle_form">
                        <input type="date" name="date" id="date" placeholder="Виберіть бажаему дату">
                        <input type="time" name="time" id="time" placeholder="Виберіть бажаемий час">
                    </div>
                    <div class="bottom_form">
                        <input type="text" name="comment" id="comment" placeholder="Залешить ваш коментар">
                    </div>
                    <div class="promocode">
                        <label>
                            <input type="checkbox" id="promo">
                            У меня есть промокод
                        </label>
                        <div class="promocode_body">
                            <div class="promocode_input">
                                <input type="text" placeholder="Введiть промокод" id="promocode_input">
                                <div class="promocode_use">Застосувати</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-contact_form">Записатися</button>
            </form>
        </div>
    </div>
    <div class="gallery_wrapper">
        <div class="gallery_title">
            ГАЛЕРЕЯ РОБІТ
        </div>
        <div class="controls gallery_controls">
        </div>
        <div class="gallery_slider">
            <img src="{{ asset('img/doctor.png') }}">
            <img src="{{ asset('img/doctor.png') }}">
            <img src="{{ asset('img/doctor.png') }}">
            <img src="{{ asset('img/doctor.png') }}">
        </div>
    </div>
    <footer>
        {% include '/elements/footer.html.twig' %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let reviews = {{ reviews|json_encode|raw }};
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/reviews.js') }}"></script>
{% endblock %}
